body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #CD6155;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.back-to-top:hover {
  color: #8e3b32;
}



#section3 {
  height: 0px;
  
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: #CD6155;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  color: #8e3b32;
}

/* unvisited link */
a.one:link {
  color: #5577aa;
}

a.one:link2 {
  color: white;
}

/* visited link */
a.one:visited {
  color: green;
}

/* mouse over link */
a.one:hover {
  color: #bb11ff;
}

/* selected link */
a.one:active {
  color: blue;
}

/* unvisited link */
a.two:link {
  color: white;
}

a.two:link2 {
  color: white;
}

/* visited link */
a.two:visited {
  color: red;
}

/* mouse over link */
a.two:hover {
  color: black;
}

/* selected link */
a.two:active {
  color: blue;
}

   .right {
  margin-right: 50px;
  position: absolute;
  right: 0px;
  padding: 10px;
}

* {
  box-sizing: border-box;
}


content {
  background-color: red;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

html, body {
  height: 100%;
  margin: 0;
}

.responsive {
  width: 100%;
  height: auto;
}


.full-height {
  height: 100%;
  background: white;
}

.header100 {
  padding: 60px;
  text-align: center;
  background: #016d56;
  color: white;
  font-size: 30px;
}

div {
  padding-top: 50px;
  padding-right: 90px;
  padding-bottom: 50px;
  padding-left: 80px;
}
div.b {
  text-align: right;
}


h1 {
  display: block;
  font-size: 34px; 
  margin-top: 0.97em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  line-height: 1.8;

}
h2 {
  display: block;
  color: #CD6155;
  font-size: 30px; 
  margin-top: 0.77em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  line-height: 1.8;
}
h3 {
  display: block;
  font-size: 24px; 
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  line-height: 1.8;
}
h4 {
  display: block;
  font-size: 20px; 
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  line-height: 1.8;
}
h5 {
  display: block;
  font-size: 18px; 
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  line-height: 1.5;
}
h6 {
  display: block;
  font-size: 18px; 
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
}

h7 {
   display: block;
  font-size: 16px; 
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
 
}

h8 {
  display: block;
  font-size: 14px; 
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
 
}

.aligncenter {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
}


.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: rgb(99,99,99);
  color: white;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 80px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

